        body {
             background-color:darkorange; 
        }
        h1 {
            color:white;
        }
        p {
            color:white; 
        }
        a {
            color:black;
        }
        h5 {
            color:white;
        }
        span {
            color:black;
            font-size: 15px;
        }
        div {
            color:white;
            font-size: 50px;
        }
  